@charset "utf-8"


/*
Fluid grid
---------------
target:content = result;
450px:1200px = 37.5%;

*/


/* 

flexible image/video
--------------------------
[ content image ]
width: 100%;
height: auto;

[keep scale image]
max-width:100%;

[ BG image ]
width: 100%;
padding-botttom: 40%; 800x320 ->40%

[crop image]
BG Image 방식에 height 고정

*/

/* Flexible Video 
-------------------------------
HTML5 <video>
**Flexible Image와 방법이 유사

Youtube, Vimeo 비디오 파일 <iframe>, <object>, <embed>
<iframe>을 감싸는 컨테이너 요소가 필요.
position 속성 필요(<iframe>요소는 absolute, 부모 컨테이너 요소는 relative)
<iframe>요소에 top:0; width:100%; height:100%;
부모 컨테이너 요소에는 height:0; padding-bottom: <아래 스크린 비율>;
**margin,padding 속성에 설정되는 %값의 기준 크기는 부모 요소가 된다.


-----------------------------------
* 스크린 비율(가로x세로)
	4:3 	= 75%;
	16:9 	= 56.25%;
	21:9 	= 42.857142857%;
*/


/* Media Qeueries/ Breakpoint */

/* CSS v2 */
/* @media screen {}*/
/* @medial all{} */
/* @media print{} */

/* CSS v3 */
/* @media [only|not] <media-type> and (<condition>) {} */








